<div>

    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Your Account</a></li>
                    <li><a href="#">Your Summary</a></li>
                    <li><a href="#">Your Activity Statement</a></li>
                    <li><a href="#">Your Bookings</a></li>
                    <li><a href="#">Your Preferences</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Flying High Frequent Flyers</h2>
            <h3 id="welcome-message">Welcome {{user.firstName}}</h3>

            <h4>Check out our featured destinations:</h4>
            <div>
                <div class="featured">
                    <div ng-repeat="item in featured" class="featured-destination">
                        <img src="{{item.image}}" width="200px"><span class="destination-title"><a href="#">{{item.title}}</a></span> - <span class="destination-price">${{item.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>