<div class="jumbotron">
    <h1>Flying High Frequent Flyers</h1>
    <p>Sign in with your email and password to view your account details:</p>

    <form name="loginForm" class="navbar-form" ng-submit="auth()">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control" ng-model="email" required>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" ng-model="password" name="password" required>
        </div>
        <input class="btn btn-success" type="submit" value="Sign in"/>
        <span ng-show="authenticationError" class="error">{{authenticationError}}</span>
    </form>
</div>